################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/.vs/backend
/backend/backend/obj
/backend/backend/bin/Debug/net6.0
/backend/DAL/obj/Release/net6.0
/backend/Shared/obj/Release/net6.0
/backend/Shared/obj
