
.profileWrapper{
    
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.bottomLine{
    height: 4px;
    width: 100%;
    background-color:rgb(158, 12, 12);
}

.imageWrapper {
    height: 150px;
    position: relative;
    border-radius: 50%;
    /* padding: 1.8rem 1.5rem; */
}
/* .row {
    --bs-gutter-x: 0 !important;  
  } */